body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
:root {
    --brand-color: #2196F3;
    --primary-color: #757575;
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0px;
    border-style: dashed;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-1 {
    padding-top: 94px;
    padding-bottom: 30px;
}
.section-2,
.section-3,
.section-4,
.section-5 {
    padding-top: 0px;
    padding-bottom: 94px;
}
.section-4 {
    background-color: #8a428a;
    width: 1600px;
    margin: 0 auto;
    padding: 0px;
    background-position: center center;
}
.link-studio {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 93px;
}
.link-studio > span {
    color: var(--brand-color);
}
.contacts-down {
    background: #2F303A;
    width: 1600px;
    height: 300px;
    margin: 0 auto;
    padding: 0px;
    background-position: center center;
}
.cont-foot {
    float: left;
    margin-right: 70px;
}
.header-nav {
    display: flex;
    list-style: none;
    justify-content: left;
    align-items: center;
}
.site-nav {
    display: flex;
    list-style: none;
    padding: 0%;
    margin: 32px 0px 32px 93px;

}
.site-contacts {
    display: flex;
    list-style: none;
    padding: 0%;
    margin: 32px 0px 32px 345px;
    text-align: right;
}
.site-nav .link {
    text-decoration: none;
    color: #212121;
    padding-left: 46px;
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
    color: var(--brand-color);
}
.pointer {
    cursor: pointer;
    color: #FFFFFF;
    background-color: var(--brand-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 41px 10px 42px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    border: none;
}
.pointer-port {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    margin-left: 8px;
    padding: 6px 22px 6px 22px;
    border-radius: 4px;
    border: none;
}
.pointer-port:hover,
.pointer-port:focus,
.pointer-port:active {
    color: #FFFFFF;
    background-color: var(--brand-color);
}
.main-section-one,
.main-section-two,
.main-section-three,
.port-section-button {
    display: flex;
    list-style: none;
}
.main-section-one {
    margin: 0 auto;
    padding: 0%;
    justify-content: space-between;
    align-items: center;
}
.main-section-two {
    margin: 0 auto;
    padding: 0%;
    justify-content: space-between;
    align-items: center;
}
.main-section-three {
    margin: 0 auto;
    padding: 0%;
    justify-content: space-between;
    align-items: center;
}
.main-section-detail {
    margin: 0 auto;
    padding: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.main-section-caption {
    margin: 0 auto;
    padding: 0%;
    text-align: center;
}
.port-section-images {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
    padding: 0px;
}
.post-section-item {
    flex-basis: calc((100% - 60px) / 3);
    padding: 0%;
}
.post-section-detail {
    margin: 0%;
    padding: 0%;
}
.post-section-caption {
    margin: 0 auto;
    padding: 20px 24px 20px 24px;
    text-align: left;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}
.port-section-button {
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 50px;
}
.card-image-no-gap {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thumb {
    height: 260px;
    width: 270px;
}
.thumb > img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.main-text:nth-child(-n+3) {
    margin-right: 30px;
}
.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    text-align: justify;
}
.main-header {
    border-bottom: 1px solid #ECECEC;
}
.main-article {
    width: 1600px;
    margin: 0 auto;
    padding: 0px;
    background-image: url(/goit-markup-hw-04/images/main-page-team.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
}
.title-main {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 200px;
    color: #FFFFFF;
}
.title-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.link-main {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-right: 50px;
    padding: 0px;
    text-align: center;
    color: #757575;
}
.link-main:hover,
.link-main:focus,
.link-main:active {
    color: var(--brand-color);
}
.main-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}
.main-item-prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    margin-bottom: 16px;
}
.text-num {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    margin-left: 10px;
}
.text-down {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 20px;
    margin-bottom: 60px;
    color: #FFFFFF;
}
.text-down > span {
    color: rgba(109, 101, 101, 0.6);
}
.main-item-port {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.main-item-val {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}
.icon-smartphone {
    width: 10px;
    height: 16px;
    margin-left: 30px;
}
.icon-envelope {
    width: 16px;
    height: 12px;
    margin: 0%;
}
.icon-antenna-1,
.icon-clock-1,
.icon-diagram-1,
.icon-astronaut-1 {
    width: 70px;
    height: 70px;
    margin: 25px 100px 25px 100px;
}
.rectangle {
    height: 120px;
    width: 270px;
    background: #c7c4cf;
    border-radius: 4px;
  }
  .social-media-icons {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    padding: 0%;
  }
  .social-media-icons:hover,
  .social-media-icons:focus,
  .social-media-icons:active {
    color: var(--brand-color);
  }
  .circle {
    height: 44px;
    width: 44px;
    border-radius: 50%;
  }
  .icon-instagram-2,
  .icon-twitter-1,
  .icon-facebook-1,
  .icon-linkedin-1 {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    cursor: pointer;
    text-align: justify;
    padding: 0px;
    margin: 0 auto;
  }
  .icon-instagram-2:hover,
  .icon-instagram-2:focus,
  .icon-instagram-2:active {
    fill: var(--brand-color);
    stroke: #FFFFFF;
  }
  .main-section-clients {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0%;
    justify-content: space-between;
    align-items: center;
  }
  .icon-client-1,
  .icon-client-2,
  .icon-client-3,
  .icon-client-4,
  .icon-client-5,
  .icon-client-6 {
    width: 170px;
    height: 92px;
    fill: #AFB1B8;
    cursor: pointer;
    stroke: #AFB1B8;
    stroke-width: 1px;
  }
  .title-footer {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0px;
    margin-top: 72px;
    margin-bottom: 20px;
  }
  .link-studio-footer {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-top: 60px;
  }
  .link-studio-footer > span {
    color: var(--brand-color);
}